<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amigos</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

    <header >
        <div class="top">
            <div class="header-image">
                <img src="https://cdn.discordapp.com/attachments/689605205313978476/722165785946095696/logo3.png" alt="logo">
            </div>
            <div class="menu">
                <a href="/sobre">Sobre</a>
                <a href="/">Ajuda</a>
                <a href="/">Leaderboard</a>
                <a href="/">Convites</a>
                <a href="/">Amigos</a>
            </div>
        </div>
    </header>


        <div class="table">

        <legend>
            <p>Seus amigos:ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ Jogos:</p>
        </legend>
            <div class="card-friends">
                <div class="friend">
                    <img src="https://cdn.discordapp.com/attachments/689605205313978476/722263236262494288/56e5fe019be11ef9e895aa254fdde5ec.png" alt="">
                    <div class="line">
                        <h3>Vidalzin</h3>
                        <h4>online</h4>
                    </div>
                    <div class="imgs">
                        <img src="https://upload.wikimedia.org/wikipedia/pt/c/ce/Counter-Strike_Global_Offensive.jpg" alt="" class="friend-game">
                        <img src="https://http2.mlstatic.com/tom-clancys-rainbow-six-siege-original-steam-D_NQ_NP_682910-MLB29663081788_032019-F.jpg" alt="" class="friend-game">
                        <img src="https://img.ibxk.com.br/2018/04/27/27162254680256.jpg" alt="" class="friend-game">
                        <img src="https://www.xaimer.com.br/arquivos/PRODUTOS/5501581998181487686/56_G_Riot-Points-League-Of-Legends.jpg" alt="" class="friend-game">                       
                        
                    </div>
                </div>
                 <div class="friend">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQtLWKG1eKjSg5n5Rpm2bqTa7eQw4x2Y_4zWtZz1VlwwpqGecDF&usqp=CAU" alt="">
                    <div class="line">
                        <h3> Cesinha apenas </h3>
                        <h4>online</h4>
                    </div>
                    <div class="imgs">
                        <img src="https://upload.wikimedia.org/wikipedia/pt/c/ce/Counter-Strike_Global_Offensive.jpg" alt="" class="friend-game">
                        <img src="https://http2.mlstatic.com/tom-clancys-rainbow-six-siege-original-steam-D_NQ_NP_682910-MLB29663081788_032019-F.jpg" alt="" class="friend-game">
                        <img src="https://img.ibxk.com.br/2018/04/27/27162254680256.jpg" alt="" class="friend-game">
                        <img src="https://www.xaimer.com.br/arquivos/PRODUTOS/5501581998181487686/56_G_Riot-Points-League-Of-Legends.jpg" alt="" class="friend-game">                       
                        <img src="https://images-na.ssl-images-amazon.com/images/I/71lamwcnkYL.jpg" alt="" class="friend-game">
                    </div>
                </div>
                 <div class="friend of">
                    <img src="https://cdn.discordapp.com/attachments/689605205313978476/722256929174454302/8e17c2b887ac649e3a3827970350f54b.png" alt="">
                    <div class="line">
                        <h3>eboy triste</h3>
                        <h5>offline</h5>
                    </div>
                    <div class="imgs">
                        <img src="https://upload.wikimedia.org/wikipedia/pt/c/ce/Counter-Strike_Global_Offensive.jpg" alt="" class="friend-game">
                        <img src="https://http2.mlstatic.com/tom-clancys-rainbow-six-siege-original-steam-D_NQ_NP_682910-MLB29663081788_032019-F.jpg" alt="" class="friend-game">
                        <img src="https://img.ibxk.com.br/2018/04/27/27162254680256.jpg" alt="" class="friend-game">
                        <img src="https://www.xaimer.com.br/arquivos/PRODUTOS/5501581998181487686/56_G_Riot-Points-League-Of-Legends.jpg" alt="" class="friend-game">                       
                    </div>
                </div>
                 <div class="friend">
                    <img src="https://cdn.discordapp.com/attachments/722264819755122798/722266646550413352/57220b6ed759aa11b10527ba838cb129c48cdfa698bedace73fbaf9b7538a50d.png" alt="">
                    <div class="line">
                        <h3>Guilherme</h3>
                        <h4>online</h4>
                    </div>
                    <div class="imgs">
                        <img src="https://upload.wikimedia.org/wikipedia/pt/c/ce/Counter-Strike_Global_Offensive.jpg" alt="" class="friend-game">
                        <img src="https://http2.mlstatic.com/tom-clancys-rainbow-six-siege-original-steam-D_NQ_NP_682910-MLB29663081788_032019-F.jpg" alt="" class="friend-game">
                        <img src="https://img.ibxk.com.br/2018/04/27/27162254680256.jpg" alt="" class="friend-game">
                        <img src="https://www.xaimer.com.br/arquivos/PRODUTOS/5501581998181487686/56_G_Riot-Points-League-Of-Legends.jpg" alt="" class="friend-game">                       
                        <img src="https://images-na.ssl-images-amazon.com/images/I/71lamwcnkYL.jpg" alt="" class="friend-game">
                    </div>
                </div>
            </div>
        </div>


    
</body>
</html>