<!DOCTYPE html>
<html>

    <head>

        {% block head %}

            <title>Bora Jogar?</title>

        {% endblock %}
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/styles.css">

    </head>

    
        
    {% block igorheader %}
    {% endblock igorheader %}

        <div class="header-modal">
            <main id="main-igor">
                <a href="/formulario"> Criar SubConta</a>
                <div class="modal-game">
                    <img src="https://upload.wikimedia.org/wikipedia/pt/c/ce/Counter-Strike_Global_Offensive.jpg" alt="">
                    <p> Cs:go</p>
                </div>
                <div class="modal-game">
                    <img src="https://img.ibxk.com.br/2018/04/27/27162254680256.jpg" alt="">
                    <p> Fortnite</p>
                </div>
                <div class="modal-game">
                    <img src="https://http2.mlstatic.com/tom-clancys-rainbow-six-siege-original-steam-D_NQ_NP_682910-MLB29663081788_032019-F.jpg" alt="">
                    <p>Rainbow6</p>
                </div>
                <div class="modal-game">
                    <img src="https://www.xaimer.com.br/arquivos/PRODUTOS/5501581998181487686/56_G_Riot-Points-League-Of-Legends.jpg" alt="">
                    <p>LOL</p>
                </div>
            </main>
        </div>
        



        {% block content %}
        {% endblock %}

        <script>
             const profileModal = document.querySelector('.header-modal')
            const profileClick = document.querySelector('#icon')

                profileClick.addEventListener("click", function(){
                profileModal.classList.toggle('hide')
            })
        </script>
        
    

</html>